In [1]:
import pandas as pd
from datetime import datetime, time, date
from matplotlib import pyplot as plt
import time
import calendar
import seaborn as sns

In [2]:
wind_speed = pd.read_csv('archive/wind_speed.csv')

In [8]:
#Drop rows with NA data
wind_speed.dropna(inplace=True)

In [9]:
wind_speed

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
37260,2017-01-01 00:00:00,5.0,3.0,2.0,5.0,3.0,3.0,1.0,1.0,6.0,...,6.0,4.0,5.0,2.0,0.0,1.0,3.0,1.0,1.0,1.0
37261,2017-01-01 01:00:00,5.0,2.0,1.0,5.0,4.0,4.0,1.0,1.0,4.0,...,4.0,4.0,5.0,4.0,0.0,2.0,3.0,1.0,1.0,2.0
37262,2017-01-01 02:00:00,7.0,3.0,2.0,5.0,2.0,5.0,1.0,1.0,5.0,...,5.0,3.0,3.0,5.0,1.0,1.0,2.0,3.0,3.0,1.0
37263,2017-01-01 03:00:00,5.0,2.0,3.0,3.0,1.0,4.0,1.0,1.0,2.0,...,7.0,2.0,2.0,4.0,1.0,1.0,2.0,3.0,3.0,1.0
37264,2017-01-01 04:00:00,3.0,1.0,1.0,3.0,2.0,1.0,2.0,2.0,2.0,...,4.0,1.0,2.0,3.0,1.0,3.0,5.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44456,2017-10-27 20:00:00,2.0,6.0,0.0,2.0,0.0,3.0,2.0,2.0,1.0,...,4.0,3.0,4.0,1.0,1.0,1.0,3.0,3.0,3.0,1.0
44457,2017-10-27 21:00:00,2.0,8.0,2.0,3.0,1.0,3.0,2.0,2.0,1.0,...,4.0,1.0,3.0,1.0,1.0,1.0,5.0,3.0,3.0,1.0
44458,2017-10-27 22:00:00,4.0,8.0,2.0,1.0,2.0,3.0,2.0,2.0,1.0,...,3.0,2.0,2.0,2.0,1.0,1.0,5.0,3.0,3.0,1.0
44459,2017-10-27 23:00:00,0.0,6.0,2.0,3.0,2.0,4.0,2.0,2.0,1.0,...,2.0,3.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,3.0
44460,2017-10-28 00:00:00,4.0,5.0,2.0,2.0,2.0,3.0,1.0,3.0,2.0,...,2.0,2.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0

In [11]:
# Update datetime column to datetime
wind_speed['datetime'] = pd.to_datetime(wind_speed['datetime'])

In [12]:
wind_speed.where(wind_speed['datetime'] >= '2017-01-01 00:00:00', inplace=True)

In [13]:
# Create time of day column
wind_speed['time_of_day'] = wind_speed['datetime'].apply(lambda x: x.time())

In [14]:
# Create month column
wind_speed['month'] = wind_speed['datetime'].apply(lambda x: x.month)

In [15]:
wind_speed

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem,time_of_day,month
37260,2017-01-01 00:00:00,5.0,3.0,2.0,5.0,3.0,3.0,1.0,1.0,6.0,...,5.0,2.0,0.0,1.0,3.0,1.0,1.0,1.0,00:00:00,1
37261,2017-01-01 01:00:00,5.0,2.0,1.0,5.0,4.0,4.0,1.0,1.0,4.0,...,5.0,4.0,0.0,2.0,3.0,1.0,1.0,2.0,01:00:00,1
37262,2017-01-01 02:00:00,7.0,3.0,2.0,5.0,2.0,5.0,1.0,1.0,5.0,...,3.0,5.0,1.0,1.0,2.0,3.0,3.0,1.0,02:00:00,1
37263,2017-01-01 03:00:00,5.0,2.0,3.0,3.0,1.0,4.0,1.0,1.0,2.0,...,2.0,4.0,1.0,1.0,2.0,3.0,3.0,1.0,03:00:00,1
37264,2017-01-01 04:00:00,3.0,1.0,1.0,3.0,2.0,1.0,2.0,2.0,2.0,...,2.0,3.0,1.0,3.0,5.0,3.0,3.0,3.0,04:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44456,2017-10-27 20:00:00,2.0,6.0,0.0,2.0,0.0,3.0,2.0,2.0,1.0,...,4.0,1.0,1.0,1.0,3.0,3.0,3.0,1.0,20:00:00,10
44457,2017-10-27 21:00:00,2.0,8.0,2.0,3.0,1.0,3.0,2.0,2.0,1.0,...,3.0,1.0,1.0,1.0,5.0,3.0,3.0,1.0,21:00:00,10
44458,2017-10-27 22:00:00,4.0,8.0,2.0,1.0,2.0,3.0,2.0,2.0,1.0,...,2.0,2.0,1.0,1.0,5.0,3.0,3.0,1.0,22:00:00,10
44459,2017-10-27 23:00:00,0.0,6.0,2.0,3.0,2.0,4.0,2.0,2.0,1.0,...,1.0,1.0,1.0,3.0,1.0,1.0,1.0,3.0,23:00:00,10
44460,2017-10-28 00:00:00,4.0,5.0,2.0,2.0,2.0,3.0,1.0,3.0,2.0,...,2.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,00:00:00,10

In [16]:
wind_speed['day'] = wind_speed['datetime'].apply(lambda x: x.date())

In [17]:
# List of cities to use for my analysis
column_selection = ['datetime','time_of_day','day','Vancouver', 'Portland', 'San Francisco', 'Seattle','San Diego', 'Chicago', 'Detroit', 'Jacksonville', 'Miami', 'New York']

In [18]:
# pd.melt(df, id_vars =['Name'], value_vars =['Course'], 
#               var_name ='ChangedVarname', value_name ='ChangedValname') 

wind_speed_updated = pd.melt(wind_speed[column_selection], id_vars=['datetime'], value_vars=['Vancouver', 'Portland', 'San Francisco', 'Seattle','San Diego', 'Chicago', 'Detroit', 'Jacksonville', 'Miami', 'New York'])

In [19]:
wind_speed_updated

                 datetime   variable  value
0     2017-01-01 00:00:00  Vancouver    5.0
1     2017-01-01 01:00:00  Vancouver    5.0
2     2017-01-01 02:00:00  Vancouver    7.0
3     2017-01-01 03:00:00  Vancouver    5.0
4     2017-01-01 04:00:00  Vancouver    3.0
...                   ...        ...    ...
71865 2017-10-27 20:00:00   New York    3.0
71866 2017-10-27 21:00:00   New York    1.0
71867 2017-10-27 22:00:00   New York    2.0
71868 2017-10-27 23:00:00   New York    3.0
71869 2017-10-28 00:00:00   New York    2.0

[71870 rows x 3 columns]

In [20]:
wind_speed_updated['day'] = wind_speed_updated['datetime'].apply(lambda x: x.date())
wind_speed_updated['month'] = wind_speed_updated['datetime'].apply(lambda x: x.month)

In [22]:
wind_speed_updated.rename(columns={'variable': 'City', 'value': 'Wind Speed'}, inplace=True)

In [23]:
wind_speed_updated['FairWind'] = (wind_speed_updated['Wind Speed'] >= 8) & (wind_speed_updated['Wind Speed'] <= 20)

In [24]:
wind_speed_updated

                 datetime       City  Wind Speed         day  month  FairWind
0     2017-01-01 00:00:00  Vancouver         5.0  2017-01-01      1     False
1     2017-01-01 01:00:00  Vancouver         5.0  2017-01-01      1     False
2     2017-01-01 02:00:00  Vancouver         7.0  2017-01-01      1     False
3     2017-01-01 03:00:00  Vancouver         5.0  2017-01-01      1     False
4     2017-01-01 04:00:00  Vancouver         3.0  2017-01-01      1     False
...                   ...        ...         ...         ...    ...       ...
71865 2017-10-27 20:00:00   New York         3.0  2017-10-27     10     False
71866 2017-10-27 21:00:00   New York         1.0  2017-10-27     10     False
71867 2017-10-27 22:00:00   New York         2.0  2017-10-27     10     False
71868 2017-10-27 23:00:00   New York         3.0  2017-10-27     10     False
71869 2017-10-28 00:00:00   New York         2.0  2017-10-28     10     False

[71870 rows x 6 columns]

In [25]:
wind_speed_updated[wind_speed_updated['FairWind'] == True]

                 datetime       City  Wind Speed         day  month  FairWind
138   2017-01-06 18:00:00  Vancouver         8.0  2017-01-06      1      True
204   2017-01-09 12:00:00  Vancouver         9.0  2017-01-09      1      True
240   2017-01-11 00:00:00  Vancouver         8.0  2017-01-11      1      True
242   2017-01-11 02:00:00  Vancouver        14.0  2017-01-11      1      True
243   2017-01-11 03:00:00  Vancouver        12.0  2017-01-11      1      True
...                   ...        ...         ...         ...    ...       ...
71776 2017-10-24 03:00:00   New York         8.0  2017-10-24     10      True
71788 2017-10-24 15:00:00   New York         9.0  2017-10-24     10      True
71792 2017-10-24 19:00:00   New York        10.0  2017-10-24     10      True
71793 2017-10-24 20:00:00   New York         9.0  2017-10-24     10      True
71794 2017-10-24 21:00:00   New York         9.0  2017-10-24     10      True

[2183 rows x 6 columns]

In [27]:
wind_speed_updated['month_name'] = wind_speed_updated['month'].apply(lambda x: calendar.month_abbr[x])

In [31]:
# Number of fair wind days over the year
fair_wind = wind_speed_updated[wind_speed_updated['FairWind'] ==True].groupby(['City', 'day', 'month_name']).count()
fair_wind['FairWind']

City       day         month_name
Chicago    2017-01-04  Jan           10
           2017-01-05  Jan            1
           2017-01-08  Jan            2
           2017-01-10  Jan           12
           2017-01-11  Jan            5
                                     ..
Vancouver  2017-09-18  Sep            1
           2017-10-01  Oct            1
           2017-10-10  Oct            1
           2017-10-17  Oct            6
           2017-10-18  Oct            3
Name: FairWind, Length: 658, dtype: int64

In [32]:
fair_wind_days = fair_wind.groupby(['City', 'month_name', 'day']).agg({'Wind Speed': ['max']})

In [33]:
fair_wind_days

                                Wind Speed
                                       max
City      month_name day
Chicago   Apr        2017-04-01          1
                     2017-04-05          9
                     2017-04-06         19
                     2017-04-07          4
                     2017-04-08          3
...                                    ...
Vancouver Oct        2017-10-17          6
                     2017-10-18          3
          Sep        2017-09-12          1
                     2017-09-14          1
                     2017-09-18          1

[658 rows x 1 columns]

In [34]:
find_wind_days_count = fair_wind_days.groupby(['City', 'month_name']).count()
find_wind_days_count

                     Wind Speed
                            max
City      month_name
Chicago   Apr                17
          Aug                 5
          Feb                13
          Jan                11
          Jul                 5
...                         ...
Vancouver Jun                 4
          Mar                 5
          May                 3
          Oct                 4
          Sep                 3

[89 rows x 1 columns]